* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';
}
h4 {
    font-size: 20px;
    line-height: 60px;
}
h5 {
    font-size: 18px;
    list-style: 50px;
}
h6 {
    font-size: 14px;
    line-height: 40px;
}
p {
    font-size: 12px;
    line-height: 18px;
}
.p-2 {
    padding: 2rem;
}
.p-3-2 {
    padding: 3rem 2rem;
}
.p-1-0 {
    padding: 1rem 0;
}
.p-7px {
    padding: 7px;
}
.p-0-12px {
    padding: 0 12px;
}
.m-7px-0 {
    margin: 7px 0;
}
.text-black {
    color: black;
}
.text-gris-clair {
    color: rgb(182, 181, 181);
}
.text-white {
    color: white;
}
.font-size-32px {
    font-size: 42px;
    line-height: 50px;
}
header {
    background-image: url("assets/img/mastehead.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px red;
    height: 60vh; 
}
.logo-take {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px violet; 
}
.logo {
    width: 25px;
    height: 25px;
    color: white;
}
.logo-take p {
    font-style: italic;
    font-size: 100%;
}
.text-header {
    width: 40%;
    position: absolute;
    left: 8%;
    bottom: 50%;
    border: solid 3px orange;
}
.iphone {
    display: none;
}
.rose {
    background-color: #f4979f;
}
.violet {
    background-color: #605f7f;
}
.gris-clair {
    background-color: rgb(182, 181, 181);
}
.our-clients {
    background-image: url("assets/img/box-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.sign-up {
    background-image: url("assets/img/box-bg-lg.jpg");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
}
.vert {
    background-color: #83c89c;
}
.bleu-marin {
    background-color: #172432;
}
.power {
    background-image: url("assets/img/full-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border: solid 3px red;
    height: 500px; 
}
.power-text {
    position: relative;
    top: 15%;
    height: 60vh;
}
span {
    font-size: 12px;
    border-radius: 5px;
}
.icon {
    width: 24px;
    height: 24px;
}
.icons {
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.non-textdecoration{
    text-decoration: none;
}
input[type=email], select {
    width: 90%;
    height: 30px;
    display: inline-block;
    border-radius: 4px 0 0 4px;;
    box-sizing: border-box;
}
input[type=button] {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color:  #83c89c;
}
.note{
    color: rgb(77, 118, 165);
    font-size: 7px;
}
footer {
    height: 550px;
}
/* Flex-box */
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}
.justify-left {
    display: flex;
    justify-content: left;
}
