/*--------- Responsive Mobile -------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------- Font, size --------- */
@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
    src: url("assets/font/OpenSans-Regular.ttf");
}
body {
    font-family: "Open Sans";
}
h1 {
    font-family: "Open Sans";
}
h4 {
    font-size: 20px;
    line-height: 60px;
}
h5 {
    font-size: 18px;
    line-height: 50px;
}
h6 {
    font-size: 14px;
    line-height: 40px;
}
p {
    font-size: 12px;
    line-height: 18px;
}
.font-size-32px {
    font-size: 42px;
    line-height: 50px;
}
span {
    font-size: 12px;
    border-radius: 5px;
}
.icon {
    width: 24px;
    height: 24px;
}
.width-resources-100 {
    width: 100%;
}
.width-resource-33 {
    width: 33.33%;
}
.logo-take p {
    font-style: italic;
    font-size: 20px;
}

/*------ Padding, Margin ------*/
.p-2 {
    padding: 2rem;
}
.p-3-2 {
    padding: 3rem 2rem;
}
.p-1-0 {
    padding: 1rem 0;
}
.p-7px {
    padding: 7px;
}
.p-0-12px {
    padding: 0 12px;
}
.m-7px-0 {
    margin: 7px 0;
}
/*------ Color ------*/
.text-black {
    color: rgba(0, 0, 0, 0.824);
}
.text-gris-clair {
    color: rgb(182, 181, 181);
}
.text-white {
    color: white;
}
.rose {
    background-color: #f4979f;
}
.violet {
    background-color: #605f7f;
}
.gris-clair {
    background-color: rgb(182, 181, 181);
}
.vert {
    background-color: #83c89c;
}
.bleu-marin {
    background-color: #172432;
}

/*------ Elements -----*/
header {
    background-image: url("assets/img/mastehead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 43% 50%;
    padding-bottom: 75%;
}
.logo-take {
    position: relative;
    left: 7px;
    top: 4px;
    color: white;
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 25px;
    height: 25px;
    color: white;
}
.text-header {
    width: 40%;
    position: absolute;
    left: 30px;
    top: 115px;
}
.iphone {
    display: none;
}
.our-clients {
    background-image: url("assets/img/box-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.sign-up {
    background-image: url("assets/img/box-bg-lg.jpg");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
}
.power {
    background-image: url("assets/img/full-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 500px; 
}
.power-text {
    position: relative;
    top: 15%;
    height: 60vh;
}
.icons {
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.non-textdecoration{
    text-decoration: none;
}
input[type=email], select {
    width: 100%;
    height: 30px;
    display: inline-block;
    border-radius: 4px 0 0 4px;;
    box-sizing: border-box;
}
input[type=button] {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color:  #83c89c;
}
.note{
    color: rgb(77, 118, 165);
    font-size: 7px;
}

/*------ Flex-box ------*/
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}
.justify-left {
    display: flex;
    justify-content: left;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles pour cette Media Queries */
    
    /*--------- Font, size, padding --------- */
    h1 {
        font-size : 3em;
    }
    h4 {
        font-size: 36px;
        line-height: 40px;
    }
    h5 {
        font-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .font-size-18px {
        font-size: 18px;
    }
    .icons {
        width: 80px;
    }
    .icon {
        width: 36px;
        height: 36px;
    }
    span {
        font-size: 16px;
    }
    .note {
        font-size: 12px;
    }
    .text-header {
        left: 75px;
        top: 274px;
    }
    .width-50 {
        width: 50%;
    }
    .width-100 {
        width: 100%;
    }
    .p-10px {
        padding: 10px;
    }

    /*------- Elements ------*/
    .power-text {
        position: relative;
        top: 15%;
        height: auto;
        width: 50%;
    }

    /*------- Flex-box -----*/
    .space-between-center{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-1 {
        flex: 1;
    }
    .space-between-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width : 1280px){
    /* Styles pour cette Media Queries */
    
    /*------ Font, size, padding ------*/
    h1 {
        font-size : 3em;
    }
    h4 {
        font-size: 36px;
        line-height: 40px;
    }
    h5 {
        font-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    span {
        font-size: 16px;
    }
    .font-size-18px {
        font-size: 18px;
    }
    .width-23 {
        width: 23%;
    }
    .width-33 {
        width: 33.33%;
    }
    .width-48 {
        width: 48%;
    }
    .width-66 {
        width: 66.67%;
    }
    .p-0-200px {
        padding: 0 200px;
    }
    .p-10px {
        padding: 10px;
    }
    .p-30px {
        padding: 30px;
    }
    .p-50-200px {
        padding: 50px 200px;
    }
    .power {
        height: 600px;
    }
    .icons {
        width: 80px;
    }
    .icon {
        width: 36px;
        height: 36px;
    }
    .note {
        font-size: 9px;
    }
    
    /*------- Flex-box -------*/
    .flex-1 {
        flex: 1;
    }
    .space-between-center{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-row-wrap {
        display: flex;
        flex-flow: row wrap;
    }
    .space-between-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*-------- Elements --------*/
    .text-header {
        width: max-content;
        height: max-content;
        left: 200px;
        top: 500px;
    }
    .iphone {
        display: inline;
        width: 33%;
        position: absolute;
        right: 130px;
        top: 600px;
    }
    .power-text {
        position: relative;
        top: 230px;
        left: 200px;
        height: auto;
        width: 34%;
    }
    .background-gris-clair {
        background-color: rgb(242, 245, 247);
    }
    .box-shadow {
        border: solid 0.1px;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 0 0 7px 0 #8d8d8d;
        background-color: white;
    }
}
